<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonEcommerce</title>
</head>
<body>
    <form action="../Controller/UserController.php" method="POST">
        <span>Nom :</span>
        <input type="text" placeholder="Mrtest">
        <br>
        <span>Prenom :</span>
        <input type="text" placeholder="Test">
        <br>
        <span>Adresse mail :</span>
        <input type="email" placeholder="Mrtest@test.test">
        <br>
        <span>Mot de passe :</span>
        <input type="password" placeholder="*********">
        <br>
        <span>Profil :</span>
        <textarea type="textare" placeholder="Je suis monsieur test"></textarea>
        <br>
        <span>Age :</span>
        <input type="text" placeholder="29/05/1995">
        <br>
        <input type="submit" value="envoie">
    </form>
    
</body>
</html>